/* You can add global styles to this file, and also import other style files */


html, body {
    background: var( --surface-b ) !important;
    font-family: var( --font-family ) !important;
}

.text-layout {
    color: var( --text-color ) !important;
}

.d-block {
    display: block !important;
}

/* .disabled {
    display: none !important;
} */